body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#e0dfb1
}
h1 {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5)
}
p {
    color:red
}
ul.beanslist {
    background-color:#12d4a8
}

