body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#916831
}
h1 {
    color:rgb(255,255,255);
    background-color: darkcyan;
    opacity:0.5
}
p {
    color:red
}
ul.beanslist {
    background-color:#12d4a8
}
