/* Welcome Page */
body {
    font-family:'Playfair Display', sans-serif;
    background-color:#e0dfb1
}
h1.Welcome {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5)
}
.Welcome_text {
    color:red
}
ul.beanslist {
    background-color:#12d4a8
}
/* Bio Page */
p.bio {
    font-family:'Playfair Display', sans-serif;
    font: size 16px
}
.bio_headers {
    font-style:oblique
}
