/* Welcome Page */
body {
    font-family:'Playfair Display', sans-serif;
    background-color:#e0dfb1;
    background-image: url("../images/20220318_140821.jpg")
}
div.header {
    position:fixed;
    top:0px;
    width:100%;
}
ul.nav_links {
    width:50%;
    padding:.25em 1em .25em 1em;
    text-align:center;
    margin:0px auto 0px auto;
    border-top:2px solid #000;
    border-bottom:1px solid #000;
}
li.nav_links{
    display:inline;
    margin:0px 5%;
    font-size:120%
}
.center_marker {
    text-align:center;
    margin:-5px auto -5px auto;
}
a:link {
    text-decoration:none;
    color:#0377fc;
}
a:hover {
    text-decoration:underline;
}
a:visited {
    color:#000;
    text-decoration:none;
}
li.nav_links a:visited{
    text-decoration:none;
    color:#0377fc;
}
h1.title {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
    text-align:center;

    width:50%;
    margin:10px auto 10px auto;
}
.Welcome_text {
    color:red
}
ul.beanslist {
    background-color:#12d4a8
}
.image_text {
    vertical-align: middle;
}
/* Bio Page */
body.bio {
    text-align: center;
}
p.bio {
    font-family:'Playfair Display', sans-serif;
    font-size: 16px;
    line-height:1.5em;
    max-width: 50em;
    background-color: pink;
    margin:0 auto;

}
.bio_headers {
    font-style:oblique
}
.Name {
    text-decoration:blink
}
p.bio:first-letter {
    font-size:large
}
p.bio:first-line {
    text-indent: 20px;
}
